SPRING_PROFILES_ACTIVE=prod
SERVER_PORT=8080
SERVER_ADDRESS=127.0.0.1

MYSQL_HOST=127.0.0.1
MYSQL_PORT=3306
MYSQL_DATABASE=cppkid_oj
MYSQL_USERNAME=cppkid
MYSQL_PASSWORD=REPLACE_WITH_SECRET

REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_DATABASE=0

JWT_SECRET=REPLACE_WITH_LONG_RANDOM_SECRET
JWT_EXPIRE_MINUTES=1440

OJ_JUDGE_WORK_DIR=/opt/cppkid/judge-work
OJ_JUDGE_DOCKER_IMAGE=gcc:13
OJ_JUDGE_TIME_LIMIT_MS=2000
OJ_JUDGE_MEMORY_LIMIT_MB=128
